<%- include("../includes/header.ejs") %>

<section class="premium">
  <div class="card">
    <h3>IO Premium</h3>
    <ul>
      <li>Can save post as PDF file</li>
      <li>Animate profile badge</li>
      <li>Can set username unlimited</li>
    </ul>
    <button class="checkout-btn">Buy IO Premium</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
      var stripe = Stripe(
        "pk_test_51QU9xnDHP75BvMD1Nicr2jUjhGvNzoFol5KI8Jlwc5UHeVeFZPzjIALSalGp4C7ZJv5S8rM0g6xgk7DUVqRlGg7L00owDt34W7"
      );
      var checkoutBtn = document.querySelector(".checkout-btn");
      checkoutBtn.addEventListener("click", () => {
        stripe.redirectToCheckout({
          sessionId: "<%= session_id %>",
        });
      });
    </script>
  </div>
</section>

<%- include("../includes/footer.ejs") %>
