<%- include("../includes/header.ejs") %>

<section class="premium">
  <div class="card">
    <h3>IO Premium</h3>
    <ul>
      <li>Can save post as PDF file</li>
      <li>Animate profile badge</li>
      <li>Can set username unlimited</li>
    </ul>
    <p>Buy IO Premium</p>
  </div>
</section>

<%- include("../includes/footer.ejs") %>
