<%- include("../includes/header.ejs") %>

<section class="s-success">
  <h1>Subscription Successful</h1>
  <a href="/admin/profile">Go back profile</a>
</section>

<%- include("../includes/footer.ejs") %>
