<%- include("../includes/header.ejs") %>

<section class="mx-auto">
  <h1>Subscription Successful</h1>
  <p>Subscription ID - <%= subscription_id %></p>
</section>
<%- include("../includes/footer.ejs") %>
