<%- include("../includes/header.ejs") %>

<section class="mx-auto">
  <h1>Password Reset Link is sent to your email address.</h1>
  <p>Check your inbox</p>
  <p>or</p>
  <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
    >Click to open gmail app</a
  >
  <a href="/">Go back home</a>
</section>

<%- include("../includes/footer.ejs") %>
