<%- include("includes/header.ejs") %>

<h1 class="title">I am home page.</h1>
<p class="description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum tempora odio
  impedit soluta omnis deleniti veritatis laudantium laborum placeat suscipit
  debitis expedita, culpa ducimus dolore explicabo aut repudiandae, ex vero.
</p>
<% if (isLogIn) { %>
<a href="/admin/create-post">Add a new post</a>
<form action="/logout" method="post">
  <button>Logout</button>
</form>
<% } else { %>
<a href="/login">Login to existing account</a>
<a href="/register">Create a new account</a>
<% } %>

<hr />

<% if(postArr.length < 1) { %>
<h4>Nothing to see</h4>
<p>Create a new post !!</p>
<a href="/admin/create-post">Create a new post</a>
<% } %>
<h1 class="title">Posts</h1>
<% for( let post of postArr ) { %>
<div class="post-box">
  <div>
    <p class="post-title"><%= post.title %></p>
  </div>
  <a href="/post/<%= post._id %>" class="btn">See more...</a>
</div>
<% } %> <%- include("includes/footer.ejs") %>
