<% include("./includes/head.ejs") %>

<section class="mx-auto">
  <a href="/">Go back home</a>
  <h1 class="title">Add a new post here</h1>
  <form action="/admin" method="post">
    <div>
      <label for="title">Enter Title</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div>
      <label for="description">Enter Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="10"
        required
      ></textarea>
    </div>
    <button>Add Post</button>
  </form>
</section>

<% include("./includes/foot.ejs") %>
