<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1 class="title">I am Post Page.</h1>
    <p class="description">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      voluptate dolor quia doloribus accusamus reiciendis cupiditate excepturi
      ipsam, dolorem debitis sint cum illum dicta est exercitationem ipsa
      assumenda voluptatibus nisi.
    </p>
  </body>
</html>
