<%- include("../includes/header.ejs") %>

<section class="error">
  <h1><%= title %></h1>
  <p class="my"><%= errMessage %></p>
  <div class="flex-center">
    <a href="/">Go Back Home</a>
  </div>
</section>

<%- include("../includes/footer.ejs") %>
